<div class="d-flex justify-content-between align-items-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to @chat.challenge.name, challenge_path(@chat.challenge)  %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @chat.title %></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'All Chats', challenges_path  %></li>
      <li class="breadcrumb-item"><%= link_to 'New Chat', challenge_chats_path(@challenge), data: { turbo_method: :post }  %></li>
    </ol>
  </nav>
</div>
<div id="chat_title">
  <h1><%= @chat.title %></h1>
</div>
<div id="messages">
  <%= render 'messages/messages', messages: @chat.messages.order(:created_at) %>
</div>
<div id="new_message">
  <%= render "messages/form", chat: @chat, message: @message %>
</div>
